.nav-bar {
    display: flex;
    justify-content: flex-end;
}

input[type=text] {
    background: white;
    /* background-image: url(search.svg);
    background-size: 20px;
    background-repeat: no-repeat; */
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    border: solid .5px lightgray;
    border-radius: 20px;
} 


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 90px;
}

button {
    border: none;
    padding: 5px;
    margin: 9px;
    background-color: white;
    font-size: 15px;
    color: rgb(101, 101, 101);
}

button:hover {
    border: solid .75px;
    border-color: lightgray;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.main-footer {
color: rgb(99, 99, 99);
text-align: left;
}

.left {
    display: flex;
    float: left;
}

.right {
    display: flex;
    float: right;
}

a {
    text-decoration: none;
    color: rgb(99, 99, 99); 
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}