.nav-right {
    display: flex;
    float: right;
}

.nav-left {
    display: flex;
    float: left;
}

#google-searchbar {
    background: white;
    background-image: url(search.svg);
    background-position: 6px 12px;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    border: solid .5px rgb(223, 221, 221);
    border-radius: 20px;
} 

#google-searchbar:hover {
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}


#microphone {
    position: relative;
    transform: scale(.22);
    left: 210px;
    top: -65px;
    opacity: .9;
    z-index: 2;
    background-image: url(microphone.svg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 130px 0px;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 90px;
}

button {
    border: none;
    padding: 5px;
    margin: 9px;
    background-color: white;
    font-size: 15px;
    color: rgb(101, 101, 101);
}

button:hover {
    border: solid .75px;
    border-color: lightgray;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.buttons {
    position: relative;
    top: -80px;
}

.languages {
    position: relative;
    top: -70px;
}

footer {
    margin-top: 80px;
}


.left {
    display: flex;
    float: left;
}

.right {
    display: flex;
    float: right;
}

a {
    text-decoration: none;
    color: rgb(99, 99, 99); 
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}